html, body {
  height: 100%; /* Full height for parent elements */
  margin: 0;    /* Remove default margins */
}

.res-section {
  min-height: calc(100vh - env(safe-area-inset-bottom)); /* Full height for mobile */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 80px;
  /* overflow: hidden; Prevent scroll */
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
}
.column {
  flex: 1;
  padding: 10px;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.section {
  margin-bottom: 20px;
}
.timeline {
  border-left: 3px solid #18d26e;
  padding-left: 15px;
  margin-left: 10px;
}
.timeline ul {
  list-style-type: none;
}
.timeline-item {
  margin-bottom: 15px;
}
.timeline-item h3 {
  font-size: 18px;
}
.contact {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}
.contact li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
  .column {
      padding: 5px;
  }
  .res-section {
      height: 100vh; /* Ensure full height on smaller screens */
      padding-top: 80px;
  }
}
