.res-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 80px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
}
.column {
  flex: 1;
  padding: 10px;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
h3 {
  font-size: 20px;
  margin-bottom: 5px;
}
.section {
  margin-bottom: 20px;
}
.timeline {
  border-left: 3px solid #18d26e;
  padding-left: 15px;
  margin-left: 10px;
}
.timeline ul{
  list-style-type: none;
}
.timeline-item {
  margin-bottom: 15px;
}
.timeline-item h3 {
  font-size: 18px;
}
.contact {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}
.contact li {
  margin-bottom: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
  .column {
      padding: 5px;
  }
}